@import "tailwindcss";

.flash {
  opacity: 1;
  transition: opacity 0.5s linear;
  animation: flash-animation 1s infinite;
  animation-fill-mode: forwards;
  font-size: 2rem;
  display: block;
}

@keyframes flash-animation {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
#toggleButton.on {
  background-color: rgb(45, 201, 45);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#toggleButton.on:hover {
  background-color: rgb(24, 129, 24);
}

input {
  border: 1px;
}
